#MODEL_NAME=distilbert-base-multilingual-cased
#MODEL_PATH=./models
#MODEL_NAME=MoritzLaurer/mDeBERTa-v3-base-mnli-xnli

MODEL_NAME=MoritzLaurer/deberta-v3-large-zeroshot-v2.0
MODEL_PATH=./models
CLASSIFY_TIMEOUT_SECONDS=600

TESSERACT_LANG=fra+eng
TESSERACT_CMD_PATH=
