fastapi
transformers
torch
timm
scikit-learn
python-multipart
requests
python-dotenv
Pillow
uvicorn
pytest
httpx
sentencepiece
pytesseract
ultralytics
opencv-python-headless
scikit-image
Shapely
pyclipper
ninja
yt-dlp
faster-whisper
curl-cffi